# Ignore development files
# VS Code
.vscode/
*.code-workspace

# Ignore build artifacts
# Binary executables
**/nto-*/*
!**/nto-*/Makefile
!**/nto-*/GNUmakefile
# Libraries and symbols
*.so
*.a
*.sym
# Temporary build artifacts
*.o
*.dep
*.pinfo
*.cfg

# ROS2 build artifacts
build/
install/
log/

# webrtc
/ports/webrtc/nto-*
!/ports/webrtc/patches/build
/ports/webrtc/public

# chromium
/ports/chromium/nto-*
!/ports/chromium/patches/build
/ports/chromium/public
