# Ignore development files
# VS Code
.vscode/
*.code-workspace

# Ignore build artifacts
# Binary executables
**/nto-*/*
!**/nto-*/Makefile
# Libraries and symbols
*.so
*.a
*.sym
# Temporary build artifacts
*.o
*.dep
*.pinfo

# ROS2 build artifacts
build/
install/
log/
