# Ignore development files
# VS Code
.vscode/
*.code-workspace

# Ignore build artifacts
# Binary executables
**/nto-*/*
!**/nto-*/Makefile
!**/nto-*/GNUmakefile
# Libraries and symbols
*.so
*.a
*.sym
# Temporary build artifacts
*.o
*.dep
*.pinfo
*.cfg

# ROS2 build artifacts
build/
install/
log/

# webrt
/ports/webrtc/nto-*
!/ports/webrtc/patches/build
/ports/webrtc/public

# pdfium
/ports/pdfium/nto-*
!/ports/pdfium/patches/build
/ports/pdfium/public
