name: ceres-solver

permissions:
  contents: write
  checks: write

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/ceres-solver.yml"
      - "ports/ceres-solver/**"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/ceres-solver.yml"
      - "ports/ceres-solver/**"

jobs:
  build:
    strategy:
      matrix:
        qnx_env: ["710", "800"]
      fail-fast: false
    name: Build for QNX ${{ matrix.qnx_env }}
    runs-on: ubuntu-22.04-common
    if: |
      ((github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'ceres-solver')))
    steps:
      - name: Checkout build-files
        uses: actions/checkout@v4
        with:
          path: build-files

      - name: Checkout muslflt
        uses: actions/checkout@v4
        with:
          repository: qnx-ports/muslflt
          path: muslflt

      - name: Checkout eigen
        uses: actions/checkout@v4
        with:
          repository: qnx-ports/eigen
          path: eigen

      - name: Checkout ceres-solver
        uses: actions/checkout@v4
        with:
          repository: ceres-solver/ceres-solver
          path: ceres-solver
          ref: 2.2.0

      - name: Build ceres-solver
        shell: bash
        run: |
          if [[ ${{ matrix.qnx_env }} == 710 ]]; then
            source ~/qnx/710/qnxsdp-env.sh
          else
            source ~/qnx/800/qnxsdp-env.sh
          fi
          if [[ ${{ matrix.qnx_env }} == 710 ]]; then
            touch build-files/ports/muslflt/nto-arm/Makefile.dnm
          fi
          QNX_PROJECT_ROOT="$(pwd)/muslflt" make -C build-files/ports/muslflt/ install
          QNX_PROJECT_ROOT="$(pwd)/eigen" make -C build-files/ports/eigen install
          make -C build-files/ports/ceres-solver install
