name: curl

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/curl.yml'
      - 'ports/curl/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/curl.yml'
      - 'ports/curl/**'

jobs:

  build:
    runs-on: self-hosted
    if: |
      (github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'curl'))
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Install bzip2
      run: |
        sudo apt-get update
        sudo apt-get install -y bzip2

    - name: Download and extract curl release
      run: |
        mkdir -p curl
        curl -L https://github.com/curl/curl/releases/download/curl-8_10_1/curl-8.10.1.tar.bz2 -o curl/curl-8.10.1.tar.bz2
        tar -xjf curl/curl-8.10.1.tar.bz2 -C curl --strip-components=1

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}

    - name: Pull build environment
      run: |
        docker pull ghcr.io/qnx-ports/sdp800-build-env:latest

    - name: Build curl
      uses: addnab/docker-run-action@v3
      with:
        image: ghcr.io/qnx-ports/sdp800-build-env:latest
        options: -v ${{ github.workspace }}:/home/runner/workspace -e MAKEFLAGS=${{ env.MAKEFLAGS }}
        shell: bash
        run: |
          cd ~/workspace
          cd build-files/ports/curl
          sed -i "s/qnx710/qnx\/710/" setup
          sed -i "s/qnx800/qnx\/800/" setup
          SOURCE_ROOT="../../../curl" ./mkrelease.sh