name: Fast-DDS

permissions:
  contents: write
  checks: write

 
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/Fast-DDS.yml'
      - 'ports/Fast-DDS/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/Fast-DDS.yml'
      - 'ports/Fast-DDS/**'

jobs:
 
  build:
    strategy:
      matrix:
        qnx_env: ["710", "800"]
    name: Build for QNX ${{ matrix.qnx_env }}
    runs-on: ubuntu-22.04-common
    if: |
      ((github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'Fast-DDS')))
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout Fast-DDS
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/Fast-DDS
        path: Fast-DDS
        ref: qnx_v2.14.4
    
    - name: Checkout tinyxml2
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/tinyxml2
        path: tinyxml2

    - name: Checkout Fast-CDR
      uses: actions/checkout@v4
      with:
        repository: eProsima/Fast-CDR
        path: Fast-CDR
        ref: v2.2.5

    - name: Checkout foonathan_memory_vendor
      uses: actions/checkout@v4
      with:
        repository: eProsima/foonathan_memory_vendor
        path: foonathan_memory_vendor
        ref: v1.3.1
        
    - name: Checkout asio
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/asio
        path: asio
 
    - name: Build Fast-DDS
      shell: bash
      run: |
        if [ "${{ matrix.qnx_env }}" == "710" ]; then
          source ~/qnx/710/qnxsdp-env.sh
        else
          source ~/qnx/800/qnxsdp-env.sh
        fi
        WORKSPACE=$PWD

        cd asio/asio
        ./autogen.sh
        cd $WORKSPACE
        make -C build-files/ports/asio install -j$(nproc)
        
        QNX_PROJECT_ROOT="$(pwd)/Fast-CDR" JLEVEL=$(nproc) make -C build-files/ports/Fast-CDR INSTALL_ROOT_nto=$PWD/stage USE_INSTALL_ROOT=true clean install
        QNX_PROJECT_ROOT="$(pwd)/foonathan_memory_vendor" JLEVEL=$(nproc) make -C build-files/ports/foonathan_memory_vendor INSTALL_ROOT_nto=$PWD/stage USE_INSTALL_ROOT=true clean install
        JLEVEL=$(nproc) BUILD_TESTING="OFF" QNX_PROJECT_ROOT="$(pwd)/tinyxml2" make -C build-files/ports/tinyxml2 INSTALL_ROOT_nto=$PWD/stage USE_INSTALL_ROOT=true install 
        QNX_PROJECT_ROOT="$(pwd)/Fast-DDS" JLEVEL=$(nproc) make -C build-files/ports/Fast-DDS INSTALL_ROOT_nto=$PWD/stage USE_INSTALL_ROOT=true clean install

    - name: Setup python env
      if: ${{ (matrix.qnx_env == '800') }}
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'
        cache: 'pip'

    - name: Install dependencies
      run: pip install -r ./test-tools/requirements.txt

    - name: Test Fast-DDS
      if: ${{ (matrix.qnx_env == '800') }}
      env:
        OSS_NAME: "Fast-DDS"
        QNX_VERSION: "qnx${{ matrix.qnx_env }}"
        COMPANION_DIR: "${{ github.workspace }}/build-files/ports/Fast-DDS"
      shell: bash
      run: |
        source ~/qnx/800/qnxsdp-env.sh

        ./test-tools/bin/run_tests.sh

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: ${{ always() }}
      with:
        report_paths: 'results/*.xml'
        check_name: (${{ matrix.qnx_env }}) Test Report
