name: Fast-CDR

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/Fast-CDR.yml'
      - 'ports/Fast-CDR/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/Fast-CDR.yml'
      - 'ports/Fast-CDR/**'

jobs:

  build:
    runs-on: self-hosted
    if: |
      (github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'Fast-CDR'))
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout Fast-CDR
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/Fast-CDR
        path: Fast-CDR

    - name: Checkout googletest
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/googletest
        path: Fast-CDR/test/googletest

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}

    - name: Pull build environment
      run: |
        docker pull ghcr.io/qnx-ports/sdp800-build-env:latest

    - name: Build Fast-CDR
      uses: addnab/docker-run-action@v3
      with:
        image: ghcr.io/qnx-ports/sdp800-build-env:latest
        options: -v ${{ github.workspace }}:/home/runner/workspace -e MAKEFLAGS=${{ env.MAKEFLAGS }}
        shell: bash
        run: |
          source ~/qnx/800/qnxsdp-env.sh
          cd ~/workspace
          BUILD_TESTING="ON" QNX_PROJECT_ROOT="$(pwd)/Fast-CDR" make -C build-files/ports/Fast-CDR install -j$(nproc)
