name: fontconfig

permissions:
  contents: write
  checks: write

 
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/fontconfig.yml'
      - 'ports/fontconfig/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/fontconfig.yml'
      - 'ports/fontconfig/**'

jobs:
 
  build:
    strategy:
      matrix:
        qnx_env: ["710", "800"]
    name: Build for QNX ${{ matrix.qnx_env }}
    runs-on: ubuntu-22.04-common
    if: |
      ((github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'fontconfig')))
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout meson
      uses: actions/checkout@v4
      with:
        repository: mesonbuild/meson
        path: meson
        ref: 1.7.0
 
    - name: Build fontconfig
      shell: bash
      run: |
        if [[ ${{ matrix.qnx_env }} == 710 ]]; then
          source ~/qnx/710/qnxsdp-env.sh
        else
          source ~/qnx/800/qnxsdp-env.sh
        fi
        chmod +x ./build-files/ports/fontconfig/install_all.sh 
        JLEVEL=$(nproc) ./build-files/ports/fontconfig/install_all.sh
        git clone -b 2.16.0 https://gitlab.freedesktop.org/fontconfig/fontconfig.git 
        JLEVEL=$(nproc) QNX_PROJECT_ROOT="$(pwd)/fontconfig" make -C build-files/ports/fontconfig install
