name: gdk-pixbuf

permissions:
  contents: write
  checks: write

 
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/gdk-pixbuf.yml'
      - 'ports/gdk-pixbuf/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/gdk-pixbuf.yml'
      - 'ports/gdk-pixbuf/**'

jobs:
 
  build:
    strategy:
      matrix:
        qnx_env: ["710", "800"]
    name: Build for QNX ${{ matrix.qnx_env }}
    runs-on: ubuntu-22.04-common
    if: |
      ((github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'gdk-pixbuf')))
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files
 
    - name: Checkout gdk-pixbuf
      uses: actions/checkout@v4
      with:
        repository: GNOME/gdk-pixbuf
        path: gdk-pixbuf
        ref: 2.42.12

    - name: Checkout meson
      uses: actions/checkout@v4
      with:
        repository: mesonbuild/meson
        path: meson
        ref: 1.7.0
 
    - name: Build gdk-pixbuf
      shell: bash
      run: |
        if [[ ${{ matrix.qnx_env }} == 710 ]]; then
          source ~/qnx/710/qnxsdp-env.sh
        else
          source ~/qnx/800/qnxsdp-env.sh
        fi
        chmod +x build-files/ports/gdk-pixbuf/install_all.sh
        JLEVEL=$(nproc) ./build-files/ports/gdk-pixbuf/install_all.sh 
        JLEVEL=$(nproc) QNX_PROJECT_ROOT="$(pwd)/gdk-pixbuf" make -C build-files/ports/gdk-pixbuf install
