name: grpc

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/grpc.yml'
      - 'ports/grpc/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/grpc.yml'
      - 'ports/grpc/**'

jobs:

  build-aarch64le:
    runs-on: self-hosted
    if: |
      (github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'grpc'))
    timeout-minutes: 480
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout muslflt
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/muslflt
        path: muslflt

    - name: Checkout googletest
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/googletest
        path: googletest

    - name: Checkout abseil-cpp
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/abseil-cpp
        path: abseil-cpp

    - name: Checkout benchmark
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/benchmark
        path: benchmark

    - name: Checkout protobuf
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/protobuf
        path: protobuf
    
    - name: Checkout grpc
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/grpc
        path: grpc

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}
    - name: Pull build environment
      run: |
        docker pull ghcr.io/qnx-ports/sdp800-build-env:latest

    - name: Build grpc
      uses: addnab/docker-run-action@v3
      with:
        image: ghcr.io/qnx-ports/sdp800-build-env:latest
        options: -v ${{ github.workspace }}:/home/runner/workspace -e MAKEFLAGS=${{ env.MAKEFLAGS }}
        shell: bash
        run: |
          source ~/qnx/800/qnxsdp-env.sh
          cd ~/workspace
          QNX_PROJECT_ROOT="$(pwd)/muslflt" make -C build-files/ports/muslflt/ install
          BUILD_TESTING="OFF" QNX_PROJECT_ROOT="$(pwd)/googletest" make -C build-files/ports/googletest/ install
          QNX_SEVEN_COMPAT="true" QNX_PROJECT_ROOT="$(pwd)/abseil-cpp" make -C build-files/ports/abseil-cpp/ install
          QNX_PROJECT_ROOT="$(pwd)/benchmark" make -C build-files/ports/benchmark install
          cd protobuf
          git submodule update --init
          cd -
          QNX_PROJECT_ROOT="$(pwd)/protobuf" make -C build-files/ports/protobuf install
          cd grpc
          git submodule update --init
          cd third_party/googletest
          git remote add qnx https://github.com/qnx-ports/googletest.git
          git fetch --all
          git switch qnx_v1.13.0 
          git pull
          cd ~/workspace
          touch build-files/ports/grpc/nto-x86_64-o/Makefile.dnm
          QNX_PROJECT_ROOT="$(pwd)/grpc" HOST_PROTOC_PATH="$(pwd)/build-files/ports/protobuf/host_protoc" make -C build-files/ports/grpc/ install
  
  build-x86_64o:
    runs-on: self-hosted
    if: |
      (github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'grpc'))
    timeout-minutes: 480
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout muslflt
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/muslflt
        path: muslflt

    - name: Checkout googletest
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/googletest
        path: googletest

    - name: Checkout abseil-cpp
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/abseil-cpp
        path: abseil-cpp

    - name: Checkout benchmark
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/benchmark
        path: benchmark

    - name: Checkout protobuf
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/protobuf
        path: protobuf
    
    - name: Checkout grpc
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/grpc
        path: grpc

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}
    - name: Pull build environment
      run: |
        docker pull ghcr.io/qnx-ports/sdp800-build-env:latest

    - name: Build grpc
      uses: addnab/docker-run-action@v3
      with:
        image: ghcr.io/qnx-ports/sdp800-build-env:latest
        options: -v ${{ github.workspace }}:/home/runner/workspace -e MAKEFLAGS=${{ env.MAKEFLAGS }}
        shell: bash
        run: |
          source ~/qnx/800/qnxsdp-env.sh
          cd ~/workspace
          QNX_PROJECT_ROOT="$(pwd)/muslflt" make -C build-files/ports/muslflt/ install
          BUILD_TESTING="OFF" QNX_PROJECT_ROOT="$(pwd)/googletest" make -C build-files/ports/googletest/ install
          QNX_SEVEN_COMPAT="true" QNX_PROJECT_ROOT="$(pwd)/abseil-cpp" make -C build-files/ports/abseil-cpp/ install
          QNX_PROJECT_ROOT="$(pwd)/benchmark" make -C build-files/ports/benchmark install
          cd protobuf
          git submodule update --init
          cd -
          QNX_PROJECT_ROOT="$(pwd)/protobuf" make -C build-files/ports/protobuf install
          cd grpc
          git submodule update --init
          cd third_party/googletest
          git remote add qnx https://github.com/qnx-ports/googletest.git
          git fetch --all
          git switch qnx_v1.13.0 
          git pull
          cd ~/workspace
          touch build-files/ports/grpc/nto-aarch64-le/Makefile.dnm
          QNX_PROJECT_ROOT="$(pwd)/grpc" HOST_PROTOC_PATH="$(pwd)/build-files/ports/protobuf/host_protoc" make -C build-files/ports/grpc/ install
