name: grpc

permissions:
  contents: write
  checks: write


on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/grpc.yml'
      - 'ports/grpc/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/grpc.yml'
      - 'ports/grpc/**'

jobs:

  build-aarch64le:
    strategy:
      matrix:
        qnx_env: ["710", "800"]
    runs-on: ubuntu-22.04-common
    if: |
      ((github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'grpc')))
    timeout-minutes: 480
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout muslflt
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/muslflt
        path: muslflt

    - name: Checkout googletest
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/googletest
        path: googletest

    - name: Checkout abseil-cpp
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/abseil-cpp
        path: abseil-cpp

    - name: Checkout benchmark
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/benchmark
        path: benchmark
    
    - name: Checkout grpc
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/grpc
        path: grpc

    - name: Build grpc
      shell: bash
      run: |
        if [[ ${{ matrix.qnx_env }} == 800 ]]; then
          source ~/qnx/800/qnxsdp-env.sh
        else 
          source ~/qnx/710/qnxsdp-env.sh
        fi
        WORKSPACE=$PWD
        CPULIST=aarch64 QNX_PROJECT_ROOT="$(pwd)/muslflt" make -C build-files/ports/muslflt/ install
        CPULIST=aarch64 BUILD_TESTING="OFF" QNX_PROJECT_ROOT="$(pwd)/googletest" make -C build-files/ports/googletest/ install
        CPULIST=aarch64 QNX_SEVEN_COMPAT="true" QNX_PROJECT_ROOT="$(pwd)/abseil-cpp" make -C build-files/ports/abseil-cpp/ install
        cd grpc
        git submodule update --init
        cd third_party/googletest
        git remote add qnx https://github.com/qnx-ports/googletest.git
        git fetch --all
        git switch qnx_v1.13.0 
        git pull
        cd $WORKSPACE/grpc/third_party/protobuf
        git remote add qnx https://github.com/qnx-ports/protobuf.git
        git fetch --all
        git switch qnx-v27.2
        git pull
        git submodule update --init
        cd $WORKSPACE
        CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" QNX_PROJECT_ROOT="$(pwd)/grpc" make -C build-files/ports/grpc/host install
        CPULIST=aarch64 CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" QNX_PROJECT_ROOT="$(pwd)/grpc" make -C build-files/ports/grpc/default install
        CPULIST=aarch64 CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" QNX_PROJECT_ROOT="$(pwd)/grpc" make -C build-files/ports/grpc/io-sock install
        CPULIST=aarch64 CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" make -C build-files/ports/grpc/examples-default install
        CPULIST=aarch64 CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" make -C build-files/ports/grpc/examples-io-sock install
  
  build-x86_64o:
    strategy:
      matrix:
        qnx_env: ["710", "800"]
    runs-on: ubuntu-22.04-common
    if: |
      ((github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'grpc')))
    timeout-minutes: 480
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout muslflt
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/muslflt
        path: muslflt

    - name: Checkout googletest
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/googletest
        path: googletest

    - name: Checkout abseil-cpp
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/abseil-cpp
        path: abseil-cpp
    
    - name: Checkout grpc
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/grpc
        path: grpc

    - name: Build grpc
      shell: bash
      run: |
        if [[ ${{ matrix.qnx_env }} == 800 ]]; then
          source ~/qnx/800/qnxsdp-env.sh
        else 
          source ~/qnx/710/qnxsdp-env.sh
        fi
        WORKSPACE=$PWD
        CPULIST=x86_64 QNX_PROJECT_ROOT="$(pwd)/muslflt" make -C build-files/ports/muslflt/ install
        CPULIST=x86_64 BUILD_TESTING="OFF" QNX_PROJECT_ROOT="$(pwd)/googletest" make -C build-files/ports/googletest/ install
        CPULIST=x86_64 QNX_SEVEN_COMPAT="true" QNX_PROJECT_ROOT="$(pwd)/abseil-cpp" make -C build-files/ports/abseil-cpp/ install
        cd grpc
        git submodule update --init
        cd third_party/googletest
        git remote add qnx https://github.com/qnx-ports/googletest.git
        git fetch --all
        git switch qnx_v1.13.0 
        git pull
        cd $WORKSPACE/grpc/third_party/protobuf
        git remote add qnx https://github.com/qnx-ports/protobuf.git
        git fetch --all
        git switch qnx-v27.2
        git pull
        git submodule update --init
        cd $WORKSPACE
        CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" QNX_PROJECT_ROOT="$(pwd)/grpc" make -C build-files/ports/grpc/host install
        CPULIST=x86_64 CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" QNX_PROJECT_ROOT="$(pwd)/grpc" make -C build-files/ports/grpc/default install
        CPULIST=x86_64 CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" QNX_PROJECT_ROOT="$(pwd)/grpc" make -C build-files/ports/grpc/io-sock install
        CPULIST=x86_64 CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" make -C build-files/ports/grpc/examples-default install
        CPULIST=x86_64 CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" make -C build-files/ports/grpc/examples-io-sock install

  build-armv7le-710:
    runs-on: ubuntu-22.04-common
    if: |
      (false ||
      (github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'grpc')))
    timeout-minutes: 480
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout muslflt
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/muslflt
        path: muslflt

    - name: Checkout googletest
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/googletest
        path: googletest

    - name: Checkout abseil-cpp
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/abseil-cpp
        path: abseil-cpp
    
    - name: Checkout grpc
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/grpc
        path: grpc

    - name: Build grpc
      shell: bash
      run: |
        source ~/qnx/710/qnxsdp-env.sh
        WORKSPACE=$PWD
        CPULIST=arm QNX_PROJECT_ROOT="$(pwd)/muslflt" make -C build-files/ports/muslflt/ install
        CPULIST=arm BUILD_TESTING="OFF" QNX_PROJECT_ROOT="$(pwd)/googletest" make -C build-files/ports/googletest/ install
        CPULIST=arm QNX_SEVEN_COMPAT="true" QNX_PROJECT_ROOT="$(pwd)/abseil-cpp" make -C build-files/ports/abseil-cpp/ install
        cd grpc
        git submodule update --init
        cd third_party/googletest
        git remote add qnx https://github.com/qnx-ports/googletest.git
        git fetch --all
        git switch qnx_v1.13.0 
        git pull
        cd $WORKSPACE/grpc/third_party/protobuf
        git remote add qnx https://github.com/qnx-ports/protobuf.git
        git fetch --all
        git switch qnx-v27.2
        git pull
        git submodule update --init
        cd $WORKSPACE
        CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" QNX_PROJECT_ROOT="$(pwd)/grpc" make -C build-files/ports/grpc/host install
        CPULIST=arm CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" QNX_PROJECT_ROOT="$(pwd)/grpc" make -C build-files/ports/grpc/default install
        CPULIST=arm CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" QNX_PROJECT_ROOT="$(pwd)/grpc" make -C build-files/ports/grpc/io-sock install
        CPULIST=arm CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" make -C build-files/ports/grpc/examples-default install
        CPULIST=arm CONFIG_CMAKE_ARGS="-G Ninja" GENERATOR_ARGS="-j$(nproc) --verbose" make -C build-files/ports/grpc/examples-io-sock install
