name: libxkbcommon

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/libxkbcommon.yml'
      - 'ports/libxkbcommon/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/libxkbcommon.yml'
      - 'ports/libxkbcommon/**'

jobs:

  build:
    runs-on: self-hosted
    strategy:
      matrix:
        qnx_env:
          - ghcr.io/qnx-ports/sdp800-build-env:latest
          - ghcr.io/qnx-ports/sdp-build-env:latest
    if: |
      (github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'libxkbcommon'))
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout libxkbcommon
      uses: actions/checkout@v4
      with:
        repository: xkbcommon/libxkbcommon
        path: libxkbcommon
        ref: xkbcommon-1.8.0
      
    - name: Checkout xkeyboard-config
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/xkeyboard-config
        path: xkeyboard-config
        ref: qnx-xkeyboard-config-2.43.99

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}

    - name: Pull build environment
      run: |
        docker pull ${{ matrix.qnx_env }}
    - name: Build libxkbcommon
      uses: addnab/docker-run-action@v3
      with:
        image: ${{ matrix.qnx_env }}
        options: -v ${{ github.workspace }}:/home/runner/workspace -e MAKEFLAGS=${{ env.MAKEFLAGS }}
        shell: bash
        run: |
          cd workspace
          if [[ "${{ matrix.qnx_env}}" == "ghcr.io/qnx-ports/sdp800-build-env:latest" ]]; then
            source ~/qnx/800/qnxsdp-env.sh
          else 
            source ~/qnx/710/qnxsdp-env.sh
          export PATH=$PATH:/usr/local/qnx/env/bin
          pip3 install strenum
          cd xkeyboard-config
          meson setup build --prefix=/usr
          meson compile -C build/
          DESTDIR=$QNX_TARGET meson install -C build/
          cd /home/runner/workspace/build-files/ports/libxkbcommon
          ./scripts/patch.sh /home/runner/workspace/libxkbcommon
          cd /home/runner/workspace
          QNX_PROJECT_ROOT="$(pwd)/libxkbcommon" JLEVEL=4 make -C build-files/ports/libxkbcommon install