name: libxml2

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/libxml2.yml'
      - 'ports/libxml2/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/libxml2.yml'
      - 'ports/libxml2/**'

jobs:
  build_tarball:
    runs-on: self-hosted
    if: |
      (github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'libxml2'))
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files
        
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}

    - name: Pull build environment
      run: |
        docker pull ghcr.io/qnx-ports/sdp800-build-env:latest

    - name: Build libxml2
      uses: addnab/docker-run-action@v3
      with:
        image: ghcr.io/qnx-ports/sdp800-build-env:latest
        options: -v ${{ github.workspace }}:/home/runner/workspace -e MAKEFLAGS=${{ env.MAKEFLAGS }}
        shell: bash
        run: |
          source ~/qnx/800/qnxsdp-env.sh
          export TARGET=aarch64-unknown-nto-qnx8.0.0
          cd ~/workspace
          curl -O https://download.gnome.org/sources/libxml2/2.13/libxml2-2.13.5.tar.xz
          tar xf libxml2-2.13.5.tar.xz
          cd libxml2-2.13.5
          ./configure \
              --build=x86_64-unknown-linux-gnu \
              --host=$TARGET \
              --prefix=/usr \
              --sysconfdir=/etc \
              --mandir=/usr/share/man \
              --infodir=/usr/share/info \
              --enable-static \
              --with-legacy \
              --with-lzma \
              --with-zlib \
              --with-python=no
          make
          make DESTDIR=/home/runner/output install

  build_source:
    runs-on: self-hosted
    if: |
      (github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'libxml2'))
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout libxml2
      uses: actions/checkout@v4
      with:
        repository: GNOME/libxml2
        path: libxml2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}

    - name: Pull build environment
      run: |
        docker pull ghcr.io/qnx-ports/sdp800-build-env:latest

    - name: Build libxml2
      uses: addnab/docker-run-action@v3
      with:
        image: ghcr.io/qnx-ports/sdp800-build-env:latest
        options: -v ${{ github.workspace }}:/home/runner/workspace -e MAKEFLAGS=${{ env.MAKEFLAGS }}
        shell: bash
        run: |
          source ~/qnx/800/qnxsdp-env.sh
          cd ~/workspace
          sed -i 's/1.16.3/1.16.1/g' libxml2/configure.ac
          QNX_PROJECT_ROOT="$(pwd)/libxml2" make -C build-files/ports/libxml2 install -j${nproc}
