name: nghttp2

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/nghttp2.yml"
      - "ports/nghttp2/**"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/nghttp2.yml"
      - "ports/nghttp2/**"

jobs:
  build:
    runs-on: self-hosted
    if: |
      (github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'nghttp2'))
    steps:
      - name: Checkout build-files
        uses: actions/checkout@v4
        with:
          path: build-files

      - name: Checkout brotli
        uses: actions/checkout@v4
        with:
          repository: google/brotli
          path: brotli
          ref: ed738e842d2fbdf2d6459e39267a633c4a9b2f5d

      - name: Checkout jansson
        uses: actions/checkout@v4
        with:
          repository: qnx-ports/jansson
          path: jansson

      - name: Checkout QNX 8 compatible nghttp2
        uses: actions/checkout@v4
        with:
          repository: nghttp2/nghttp2
          path: nghttp2
          submodules: recursive

      - name: Checkout QNX 71 compatible nghttp2
        uses: actions/checkout@v4
        with:
          repository: qnx-ports/nghttp2
          path: nghttp2
          ref: 445e7c33443ff51beb90d289c3db68faba9fa501
          submodules: recursive

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Pull build environment
        run: |
          docker pull ghcr.io/qnx-ports/sdp-build-env:latest

      - name: Build nghttp2 for QNX 8
        uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/qnx-ports/sdp-build-env:latest
          options: -v ${{ github.workspace }}:/home/runner/workspace -e MAKEFLAGS=${{ env.MAKEFLAGS }}
          shell: bash
          run: |
            source ~/qnx/800/qnxsdp-env.sh
            cd ~/workspace
            QNX_PROJECT_ROOT="$(pwd)/brotli" make -C build-files/ports/brotli/ install -j4
            make -C build-files/ports/jansson/ install -j4
            make -C build-files/ports/nghttp2/ install -j4
            make -C build-files/ports/nghttp2 clean
            BUILD_STATIC_LIBS=ON BUILD_TESTING=ON ENABLE_HPACK_TOOLS=OFF ENABLE_APP=OFF make -C build-files/ports/nghttp2/ install -j4

      - name: Build nghttp2 for QNX 71
        uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/qnx-ports/sdp-build-env:latest
          options: -v ${{ github.workspace }}:/home/runner/workspace -e MAKEFLAGS=${{ env.MAKEFLAGS }}
          shell: bash
          run: |
            source ~/qnx/710/qnxsdp-env.sh
            cd ~/workspace
            QNX_PROJECT_ROOT="$(pwd)/brotli" make -C build-files/ports/brotli/ install -j4
            make -C build-files/ports/jansson/ install -j4
            make -C build-files/ports/nghttp2/ install -j4
            make -C build-files/ports/nghttp2 clean
            BUILD_STATIC_LIBS=ON BUILD_TESTING=ON ENABLE_HPACK_TOOLS=OFF ENABLE_APP=OFF make -C build-files/ports/nghttp2/ install -j4
