name: nghttp2

permissions:
  contents: write
  checks: write

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/nghttp2.yml"
      - "ports/nghttp2/**"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/nghttp2.yml"
      - "ports/nghttp2/**"

jobs:
  build:
    strategy:
      matrix:
        qnx_env:
          - { sdp: 710, repo: "qnx-ports/nghttp2", ref: "qnx-1.61.0" }
          - { sdp: 800, repo: "nghttp2/nghttp2", ref: "master" }
      fail-fast: false
    name: Build for QNX ${{ matrix.qnx_env.sdp }}
    runs-on: ubuntu-22.04-common
    if: |
      ((github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'nghttp2')))
    steps:
      - name: Checkout build-files
        uses: actions/checkout@v4
        with:
          path: build-files

      - name: Checkout libev
        uses: actions/checkout@v4
        with:
          repository: qnx-ports/libev
          path: libev

      - name: Checkout brotli
        uses: actions/checkout@v4
        with:
          repository: google/brotli
          path: brotli
          ref: ed738e842d2fbdf2d6459e39267a633c4a9b2f5d

      - name: Checkout jansson
        uses: actions/checkout@v4
        with:
          repository: qnx-ports/jansson
          path: jansson

      - name: Checkout QNX ${{ matrix.qnx_env.sdp }} compatible nghttp2
        uses: actions/checkout@v4
        with:
          repository: ${{ matrix.qnx_env.repo }}
          path: nghttp2
          ref: ${{ matrix.qnx_env.ref }}
          submodules: recursive

      - name: Build nghttp2
        shell: bash
        run: |
          if [[ ${{ matrix.qnx_env.sdp }} == 710 ]]; then
            source ~/qnx/710/qnxsdp-env.sh
          else
            source ~/qnx/800/qnxsdp-env.sh
          fi
          WORKSPACE=$PWD
          cd /home/runner/qnx/710
          grep -rn "struct ares_addrinfo {"
          cd $WORKSPACE
          make -C build-files/ports/libev install
          QNX_PROJECT_ROOT="$(pwd)/brotli" make -C build-files/ports/brotli/ install -j4
          make -C build-files/ports/jansson/ install -j4
          make -C build-files/ports/nghttp2/ install -j4
