name: opencv

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout muslflt
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/muslflt
        path: muslflt

    - name: Checkout numpy
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/numpy
        path: numpy
        submodules: recursive

    - name: Checkout opencv
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/opencv
        path: opencv

    - name: Download SDP 8.0
      env:
        LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
        MYQNX_USER: ${{ secrets.MYQNX_USER }}
        MYQNX_PASSWORD: ${{ secrets.MYQNX_PASSWORD }}
      run: |
        echo "Downloading QNX Software Center ..."
        mkdir ${{ github.workspace }}/.qnx
        curl -v --cookie-jar ${{ github.workspace }}/.qnx/myqnxcookies.auth --form "userlogin=$MYQNX_USER" --form "password=$MYQNX_PASSWORD" -X POST https://www.qnx.com/account/login.html > login_response.html
        curl -v -L --cookie ${{ github.workspace }}/.qnx/myqnxcookies.auth https://www.qnx.com/download/download/77351/qnx-setup-2.0.3-202408131717-linux.run > qnx-setup-lin.run
        chmod a+x qnx-setup-lin.run
        ./qnx-setup-lin.run force-override disable-auto-start agree-to-license-terms ${{ github.workspace }}/qnxinstall
        echo "Installing License ..."
        ${{ github.workspace }}/qnxinstall/qnxsoftwarecenter/qnxsoftwarecenter_clt -syncLicenseKeys -myqnx.user="$MYQNX_USER" -myqnx.password="$MYQNX_PASSWORD" -addLicenseKey $LICENSE_KEY
        cp -r ~/.qnx/license ${{ github.workspace }}/.qnx
        echo "Downloading QNX SDP ..."
        ${{ github.workspace }}/qnxinstall/qnxsoftwarecenter/qnxsoftwarecenter_clt -mirror -cleanInstall -destination ${{ github.workspace }}/qnx800 -installBaseline com.qnx.qnx800 -myqnx.user="$MYQNX_USER" -myqnx.password="$MYQNX_PASSWORD"
        ${{ github.workspace }}/qnxinstall/qnxsoftwarecenter/qnxsoftwarecenter_clt -installPackage com.qnx.qnx800.target.screen.img_codecs

    - name: Build the Docker image
      run: |
        cd build-files/docker && ./docker-build-qnx-image.sh

    - name: Build opencv
      uses: addnab/docker-run-action@v3
      with:
        image: qnx800:latest
        options: -v ${{ github.workspace }}:/home/runner
        shell: bash
        run: |
          source ~/qnx800/qnxsdp-env.sh
          source /usr/local/qnx/env/bin/activate
          QNX_PROJECT_ROOT="$(pwd)/muslflt" make -C build-files/ports/muslflt/ -j$(nproc)
          QNX_PROJECT_ROOT="$(pwd)/numpy" make -C build-files/ports/numpy install -j$(nproc)
          BUILD_TESTING="ON" QNX_PROJECT_ROOT="$(pwd)/opencv" make -C build-files/ports/opencv USE_INSTALL_ROOT=true install -j$(nproc)
