name: opencv

permissions:
  contents: write
  checks: write

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/opencv.yml'
      - 'ports/opencv/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/opencv.yml'
      - 'ports/opencv/**'

jobs:

  build:
    runs-on: ubuntu-22.04-common
    if: |
      ((github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'opencv')))
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout muslflt
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/muslflt
        path: muslflt

    - name: Checkout numpy
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/numpy
        path: numpy
        submodules: recursive

    - name: Checkout opencv
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/opencv
        path: opencv

    - name: Checkout opencv_extra
      uses: actions/checkout@v4
      with:
        repository: opencv/opencv_extra
        path: opencv_extra
        ref: 4.9.0

    - name: Checkout check-tools
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/check-tools
        path: check-tools
        ref: v0.1.4

    - name: Checkout test-tools
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/test-tools
        path: test-tools
        token: ${{secrets.GCO_TOKEN}}

    - name: Build opencv
      shell: bash
      run: |
        source ~/qnx/800/qnxsdp-env.sh
        source /usr/local/qnx/env/bin/activate
        WORKSPACE=${{ github.workspace }}

        cd $WORKSPACE/opencv_extra

        # Download models used by the tests
        cd testdata/dnn
        python3 download_models.py
        rm *.tar.gz
        rm *.tgz

        cd $WORKSPACE
        QNX_PROJECT_ROOT="$(pwd)/muslflt" make -C build-files/ports/muslflt/ INSTALL_ROOT_nto=$PWD/stage USE_INSTALL_ROOT=true install
        QNX_PROJECT_ROOT="$(pwd)/numpy" make -C build-files/ports/numpy INSTALL_ROOT_nto=$PWD/stage USE_INSTALL_ROOT=true install 
        BUILD_TESTING="ON" QNX_PROJECT_ROOT="$(pwd)/opencv" make -C build-files/ports/opencv INSTALL_ROOT_nto=$PWD/stage USE_INSTALL_ROOT=true install 

    - name: Setup python env
      if: ${{ (matrix.qnx_env == '800') }}
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'
        cache: 'pip'

    - name: Install dependencies
      run: pip install -r ./test-tools/requirements.txt

    - name: Test opencv
      if: ${{ (matrix.qnx_env == '800') }}
      env:
        OSS_NAME: "opencv"
        QNX_VERSION: "qnx${{ matrix.qnx_env }}"
        COMPANION_DIR: "${{ github.workspace }}/build-files/ports/opencv"
      shell: bash
      run: |
        source ~/qnx/800/qnxsdp-env.sh

        ./test-tools/bin/run_tests.sh

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: ${{ always() }}
      with:
        report_paths: 'results/*.xml'
        check_name: (${{ matrix.qnx_env }}) Test Report
