name: opencv

permissions:
  contents: write
  checks: write


on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/opencv.yml'
      - 'ports/opencv/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/opencv.yml'
      - 'ports/opencv/**'

jobs:

  build:
    runs-on: ubuntu-22.04-common
    if: |
      ((github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'opencv')))
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout muslflt
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/muslflt
        path: muslflt

    - name: Checkout numpy
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/numpy
        path: numpy
        submodules: recursive

    - name: Checkout opencv
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/opencv
        path: opencv

    - name: Build opencv
      shell: bash
      run: |
        source ~/qnx/800/qnxsdp-env.sh
        source /usr/local/qnx/env/bin/activate
        QNX_PROJECT_ROOT="$(pwd)/muslflt" make -C build-files/ports/muslflt/ 
        QNX_PROJECT_ROOT="$(pwd)/numpy" make -C build-files/ports/numpy install 
        BUILD_TESTING="ON" QNX_PROJECT_ROOT="$(pwd)/opencv" make -C build-files/ports/opencv USE_INSTALL_ROOT=true install 
