name: pytorch

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/pytorch.yml'
      - 'ports/pytorch/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/pytorch.yml'
      - 'ports/pytorch/**'

jobs:
  build:
    runs-on: self-hosted
    if: |
      (github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'pytorch'))
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout pytorch
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/pytorch
        path: pytorch
        submodules: recursive

    - name: Fix submodule permissions
      run: |
        sudo chown -R $(whoami):$(whoami) ${{ github.workspace }}/pytorch
        sudo chmod -R u+rw ${{ github.workspace }}/pytorch

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Pull build environment
      run: |
        docker pull ghcr.io/qnx-ports/sdp800-build-env:latest

    - name: Build pytorch
      uses: addnab/docker-run-action@v3
      with:
        image: ghcr.io/qnx-ports/sdp800-build-env:latest
        options: -u root -v ${{ github.workspace }}:/home/runner/workspace -e MAKEFLAGS=${{ env.MAKEFLAGS }}
        shell: bash
        run: |
          cd ~/workspace
          WORKSPACE=$PWD
          source ~/qnx/800/qnxsdp-env.sh
          source /usr/local/qnx/env/bin/activate
          cd pytorch
          pip install -r requirements.txt
          cd $WORKSPACE/build-files/ports/pytorch
          ./scripts/patch.sh $WORKSPACE/pytorch
          cd $WORKSPACE
          export BUILD_PYTORCH_MOBILE_WITH_HOST_TOOLCHAIN=1
          BUILD_TESTING=ON BUILD_LITE_INTERPRETER=ON QNX_PROJECT_ROOT="$(pwd)/pytorch" make -C build-files/ports/pytorch install
