name: sdp-build-env

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/sdp-build-env.yml'
      - 'docker/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/sdp-build-env.yml'
      - 'docker/**'

jobs:
  build-sdp-image:
    runs-on: fedora-buildah
    if: |
      ((github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'sdp-build-env')))
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Prepare QNX Software Center
      env:
        MYQNX_USER: ${{ secrets.MYQNX_USER }}
        MYQNX_PASSWORD: ${{ secrets.MYQNX_PASSWORD }}
      run: |
        echo "Downloading QNX Software Center ..."
        mkdir ${{ github.workspace }}/.qnx
        curl -v --cookie-jar ${{ github.workspace }}/.qnx/myqnxcookies.auth --form "userlogin=$MYQNX_USER" --form "password=$MYQNX_PASSWORD" -X POST https://www.qnx.com/account/login.html > login_response.html
        curl -v -L --cookie ${{ github.workspace }}/.qnx/myqnxcookies.auth https://www.qnx.com/download/download/77351/qnx-setup-2.0.3-202408131717-linux.run > qnx-setup-lin.run
        chmod a+x qnx-setup-lin.run
        ./qnx-setup-lin.run force-override disable-auto-start agree-to-license-terms ${{ github.workspace }}/qnx

    - name: Download SDP 7.1
      env:
        SDP710_LICENSE_KEY: ${{ secrets.SDP710_LICENSE_KEY }}
        MYQNX_USER: ${{ secrets.MYQNX_USER }}
        MYQNX_PASSWORD: ${{ secrets.MYQNX_PASSWORD }}
      run: |
        echo "Installing SDP 7.1 License ..."
        ${{ github.workspace }}/qnx/qnxsoftwarecenter/qnxsoftwarecenter_clt -syncLicenseKeys -myqnx.user="$MYQNX_USER" -myqnx.password="$MYQNX_PASSWORD" -addLicenseKey $SDP710_LICENSE_KEY
        cp -r ~/.qnx/license ${{ github.workspace }}/.qnx
        echo "Downloading QNX SDP 7.1 ..."
        ${{ github.workspace }}/qnx/qnxsoftwarecenter/qnxsoftwarecenter_clt -mirror -cleanInstall -destination ${{ github.workspace }}/qnx/710 -installBaseline com.qnx.qnx710 -installPackage com.qnx.qnx710.target.sf.base,com.qnx.qnx710.target.sf.camapi,com.qnx.qnx710.target.sf.sensor,com.qnx.qnx710.target.net.curl/0.0.7.02653T202408191849L,com.qnx.qnx710.target.net.qnet -myqnx.user="$MYQNX_USER" -myqnx.password="$MYQNX_PASSWORD"
        cp -r ~/.qnx/qconfig ${{ github.workspace }}/.qnx

    - name: Download SDP 8.0
      env:
        SDP800_LICENSE_KEY: ${{ secrets.SDP800_LICENSE_KEY }}
        MYQNX_USER: ${{ secrets.MYQNX_USER }}
        MYQNX_PASSWORD: ${{ secrets.MYQNX_PASSWORD }}
      run: |
        echo "Installing SDP 8.0 License ..."
        ${{ github.workspace }}/qnx/qnxsoftwarecenter/qnxsoftwarecenter_clt -syncLicenseKeys -myqnx.user="$MYQNX_USER" -myqnx.password="$MYQNX_PASSWORD" -addLicenseKey $SDP800_LICENSE_KEY
        cp -r ~/.qnx/license ${{ github.workspace }}/.qnx
        echo "Downloading QNX SDP 8.0 ..."
        ${{ github.workspace }}/qnx/qnxsoftwarecenter/qnxsoftwarecenter_clt -mirror -cleanInstall -destination ${{ github.workspace }}/qnx/800 -installBaseline com.qnx.qnx800 -installPackage com.qnx.qnx800.target.qemuvirt,com.qnx.qnx800.target.driver.virtio -myqnx.user="$MYQNX_USER" -myqnx.password="$MYQNX_PASSWORD"

    - name: Login to ghcr.io
      env:
        REGISTRY: ghcr.io
        USERNAME: ${{github.actor}}
        PASSWORD: ${{secrets.GITHUB_TOKEN}}
      run: |
        buildah login -u ${USERNAME} --password ${PASSWORD} ${REGISTRY}

    - name: Build interactive SDP build environment image
      run: |
        cd build-files/docker
        METHOD=buildah ./docker-build-qnx-image.sh
        buildah tag qnx-ports-docker:latest ghcr.io/qnx-ports/sdp-build-env:latest
        buildah from --name tmp ghcr.io/qnx-ports/sdp-build-env:latest

        buildah copy --chown runner tmp ${{ github.workspace }}/qnx /home/runner/qnx
        buildah copy --chown runner tmp ${{ github.workspace }}/.qnx /home/runner/.qnx
        buildah commit tmp ghcr.io/qnx-ports/sdp-build-env:latest

    - name: Push to ghcr.io
      if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') }}
      run: |
        # Push changes
        buildah push ghcr.io/qnx-ports/sdp-build-env:latest
