name: vsomeip

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/vsomeip.yml'
      - 'ports/vsomeip/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/vsomeip.yml'
      - 'ports/vsomeip/**'

jobs:

  build:
    runs-on: self-hosted
    if: |
      (github.event_name == 'workflow_dispatch') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'vsomeip'))
    steps:
    - name: Checkout build-files
      uses: actions/checkout@v4
      with:
        path: build-files

    - name: Checkout boost
      uses: actions/checkout@v4
      with:
        repository: boostorg/boost
        path: boost
        ref: boost-1.78.0
        submodules: recursive

    - name: Checkout googletest
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/googletest
        path: googletest
        ref: qnx_v1.13.0

    - name: Checkout vsomeip
      uses: actions/checkout@v4
      with:
        repository: qnx-ports/vsomeip
        path: vsomeip

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}

    - name: Pull build environment
      run: |
        docker pull ghcr.io/qnx-ports/sdp800-build-env:latest

    - name: Build vsomeip
      uses: addnab/docker-run-action@v3
      with:
        image: ghcr.io/qnx-ports/sdp800-build-env:latest
        options: -v ${{ github.workspace }}:/home/runner/workspace -e MAKEFLAGS=${{ env.MAKEFLAGS }}
        shell: bash
        run: |
          cd ~/workspace
          WORKSPACE=$PWD
          source ~/qnx/800/qnxsdp-env.sh
          export GTEST_ROOT=/home/runner/googletest
          cd $WORKSPACE/boost/libs/interprocess && git apply $WORKSPACE/build-files/ports/boost/interprocess_1.78.0_qnx_7.1.patch
          cd $WORKSPACE/boost/tools/build && git apply $WORKSPACE/build-files/ports/boost/tools_qnx.patch
          cd $WORKSPACE
          QNX_PROJECT_ROOT="$(pwd)/boost" make -C build-files/ports/boost install -j$(nproc)
          GTEST_ROOT=$GTEST_ROOT QNX_PROJECT_ROOT="$(pwd)/vsomeip" make -C build-files/ports/vsomeip install -j$(nproc)
